:root {
    /* Cores Principais */
    --azul-xp-base: #0052e4;
    --azul-escuro-borda: #002ea1;
    --cinza-xp-bg: #ece9d8;
    --branco-absoluto: #ffffff;
    --cinza-xp-sombra: #aca899;

    --degrade-verde-xp: linear-gradient(to bottom right,
            rgba(139, 214, 97, 0.95) 0%,
            /* Topo: Verde limão clarinho, quase opaco (densidade da borda) */
            rgba(68, 169, 41, 0.75) 25%,
            /* Centro: Verde vibrante, bem translúcido (o "corpo" do gel) */
            rgba(34, 138, 8, 0.8) 75%,
            /* Baixo: Verde escurecendo, mais denso */
            rgba(27, 94, 12, 0.9) 100%
            /* Base: Verde floresta denso */
        );

    --degrade-amarelo-xp: linear-gradient(to bottom right,
            rgba(255, 231, 137, 0.95) 0%,
            /* Topo: Verde limão clarinho, quase opaco (densidade da borda) */
            rgba(202, 172, 4, 0.75) 25%,
            /* Centro: Verde vibrante, bem translúcido (o "corpo" do gel) */
            rgba(193, 154, 0, 0.8) 75%,
            /* Baixo: Verde escurecendo, mais denso */
            rgba(107, 86, 23, 0.9) 100%
            /* Base: Verde floresta denso */
        );

    --degrade-azul-xp: linear-gradient(to bottom right,
            rgba(97, 180, 255, 0.95) 0%,
            /* Topo: Azul celeste clarinho, quase opaco (densidade da borda) */
            rgba(41, 130, 255, 0.75) 25%,
            /* Centro: Azul vibrante, bem translúcido (o "corpo" do gel) */
            rgba(8, 80, 200, 0.8) 75%,
            /* Baixo: Azul escurecendo, mais denso */
            rgba(10, 45, 140, 0.9) 100%
            /* Base: Azul marinho denso */
        );

    --bolha-cor: linear-gradient(-180deg, hsla(181, 79%, 39%, 0.502) 0%, hsla(138, 100%, 73%, 0.54) 100%);

    --bolha-cor-amarelo: linear-gradient(-180deg, hsla(56, 100%, 48%, 0.502) 0%, hsla(61, 100%, 40%, 0.54) 100%);

    --bolha-sombra:
        /* 0 1rem 1.25rem 0 rgba(16, 45, 12, 0.1), */
        0 -0.25rem 1.5rem rgba(241, 255, 255, 0.581) inset,
        0 0.75rem 0.5rem rgba(48, 153, 74, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(47, 189, 197) inset;

    --bolha-sombra-amarelo:
        /* 0 1rem 1.25rem 0 rgba(16, 45, 12, 0.1), */
        0 -0.25rem 1.5rem rgba(246, 255, 255, 0.581) inset,
        0 0.75rem 0.5rem rgba(171, 154, 40, 0.4) inset,
        0 0.25rem 0.5rem 0 rgb(247, 231, 150) inset;
}






@font-face {
    font-family: WinXp;
    src: url(fontes/windows-xp-tahoma.otf);
}

body,
p,
h1 {
    margin: 0%;
}

body.carregando {
    opacity: 0;
    overflow: hidden; 
}

body {
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
}

/* - - - - - - - - - - - - - */

/* ANCHOR menu header*/

header .menu {
    /* border: solid 2px red; */

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    /* z-index: ; */

    height: 8%;
    width: 100%;
    z-index: 99;

    /* From https://css.glass */
    background: var(--degrade-verde-xp);

    border-radius: 0 0 80px 80px / 0 0 20px 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border: 1px solid rgba(43, 179, 51, 0.25);

    box-shadow:
        /* sombra interna */
        inset 0px 4px 5px rgba(255, 255, 255, 0.1),
        inset 0px 0px 20px rgba(203, 255, 187, 0.1),
        inset 0px 1px 5px rgba(255, 255, 255, 0.4),
        inset 0px -4px 9px rgb(5, 35, 0, 0.3),

        /* sompra externa */
        0px 1px 30px rgba(2, 7, 54, 0.3),
        0px 0px 6px rgba(2, 7, 54, 0.55);

}

header .menu a {
    display: flex;
    height: 75%;
    width: 13%;

    background: var(--bolha-cor);
    box-shadow: var(--bolha-sombra);
    opacity: 90%;


    align-items: center;
    justify-content: center;

    border-radius: 20px;
    /* border: 1px solid black; */
    transition: ease-in 100ms;
}

header .menu a {
    font-family: 'Lucida Console', monospace;
    font-size: 10px;
    text-decoration: none;

    color: #ebffe4ad;
    /* text-shadow: 0 0 5px #FFF, 0 0 20px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18; */

}

/* 
header .menu a:hover{
    color
} */

header .menu a:hover {
    transform: translate(0px, 10px) scale(1.1) scaleY(1.05);
    opacity: 80%;
}



/* ANCHOR - capa winxp 

/* papel de parede winXP */
.capa {
    position: relative;
    /* background-image: url("img/windows_xp_16.jpg"); */
    height: 100vh;
    background-size: cover;
    background-position: center;
    z-index: 1;
}


.xp {
    background-image: url("img/windows_xp_16.jpg");
}

.degrade-scroll {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    z-index: 2;
    pointer-events: none;

    transition: opacity 30ms ease-out;
}

/* ANCHOR rodapé */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: white; */
    position: absolute;
    height: 20px;
    width: 100%;
    margin: auto;

        /* From https://css.glass */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

footer p{
    color: #222;
    font-family: 'Lucida Console', monospace;
    
}

/* ANCHOR notepad */

.notepad-window {
    width: 500px;
    max-width: 90vw;

    position: absolute;
    top: 12%;
    left: 8%;
}

.notepad-body {
    margin: 0;
    padding: 3.6px;
}

/* consertar o alinhamento */
.title-bar-text {
    display: flex;
    align-items: center;
}

.title-bar-icon {
    height: 16px;
    margin-right: 6px;
    image-rendering: pixelated;
}

.notepad-textarea {
    background-color: #ffffff;
    color: #000000;
    /* tava bugando e ficando branco */

    width: 100%;
    height: 300px;

    resize: none;
    /* parar de mudar de tamanho*/
    box-sizing: border-box;
    padding: 10px;

    font-family: 'Lucida Console', monospace;
    font-size: 14px;
}

/* - - - - - - - - - - - - - */

.conteudo-direita {
    /* border: 8px solid red; */
    position: absolute;
    top: 15%;
    right: 5%;
    width: 450px;
    height: 550px;
}

/* ANCHOR janela - minha foto */

.minha-foto-window {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    /* ???? */
}

.minha-foto-container {
    margin: 0;
    position: relative;
    width: 284px;
    height: 380px;
}

.foto-apresentacao {
    width: 140%;
    height: 100%;
    object-fit: cover;
    object-position: center top;

    position: absolute;
    bottom: 0;
    right: -20px;

}

.minha-foto-container img {
    /* filter: drop-shadow(0 0 1rem darkorange); */
    filter: drop-shadow(-5px 10px 5px #1e1b1684);
}


/* ANCHOR título: Sofia Carolina - minha foto */

.meu-nome {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 65px;
    left: -240px;
    margin: 0;
}

.meu-nome h1 {
    /* border: 1px solid red;   */
    color: #ece9d8;
    margin: 0;
    font-family: WinXP;
    font-size: 110px;

    line-height: 0.7;
    filter: drop-shadow(-3px -2px 1px #1e1b1684);
}

/* ANCHOR legenda - minha foto */

.texto-minha-foto p {
    font-family: 'Lucida Console', monospace;
    position: absolute;
    bottom: 100px;
    right: 155px;
    color: rgba(255, 255, 255, 0.205);
    font-size: 14px;

    transition: ease 150ms;
}

/* teste de efeito B) */

.texto-minha-foto p:hover {
    transform: scale(105%) rotate(4deg);
    color: var(--cinza-xp-bg);
}

/* - - - - - - - - - - - - - */

/* ANCHOR conteúdo 1 - nuvens sobre mim */

.primeira-parte {
    height: 100vh;
    display: flex;
    gap: 60px;
    justify-content: center;
    /* padding-bottom: 100px;
    padding-top: 100px; */

    position: relative;
    overflow: hidden;

    background-color: #ffffff4b;
    flex-wrap: wrap;

}

/* background blur */
.primeira-parte::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(img/ceu.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(8px);

    z-index: -1;

    /* macete: */
    transform: scale(1.05);
}


/* A CAIXA PRINCIPAL */
.primeira-parte .sobre-mim {
    position: relative;

    display: flex;

    /* glassmorphism intacto */
    margin-top: 60px;
    height: 500px;
    width: 1200px;
    background: rgba(255, 255, 255, 0.37);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(85, 161, 77, 0.3);
    padding: 40px;
}

/* O CONTAINER DE TEXTO */
.textos-sobre {
    /* outline: 2px solid red; */
    width: 50%;
    z-index: 2;
}


/* AS IMAGENS SOLTAS (ABSOLUTAS) */

/* .sobre-mim .laptop-xuxa {
    position: absolute;
    bottom: -20px; 
    left: 210px;
    width: 400px;
    rotate: 7deg;
    z-index: 3;
    transform: scale(0.3) rotate(-40deg) translate(-800px, -300px);
    opacity: 0; 
    transition: ease-in 240ms;  
}

.sobre-mim .laptop-xuxa img {
    width: 100%; 
    filter: drop-shadow(0 10px 15px rgba(0,0,0,0.3)); 
} */

/* container do chat */
.chat-msn {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 55%;
    z-index: 2;

}

/* nick */
.chat-msn .nick {
    font-family: 'Tahoma', sans-serif;
    font-weight: bold;
    color: var(--azul-escuro-borda);
    font-size: 0.9rem;
    margin-bottom: -2px;
}

/* balões */
.chat-msn .balao {
    background-color: rgba(255, 255, 255, 0.65);
    padding: 12px 18px;
    color: #222;
    font-family: 'Tahoma', sans-serif;
    font-size: 1rem;
    line-height: 1.4;
    width: fit-content;

    /* glass alguma coisa */
    backdrop-filter: blur(6px);
    border: 1px solid rgba(255, 255, 255, 0.9);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.05);

    /* formato msg */
    border-radius: 0px 20px 20px 20px;

    transition: ease 100ms;

}

.chat-msn .balao strong {
    font-weight: lighter;
}


.chat-msn .balao:hover {
    opacity: 0.9;
    transform: translateY(-4px) rotate(-0.5deg);
}

/* balão sem ponta */
.chat-msn .continuo {
    border-radius: 8px 20px 20px 8px;
}

.chat-msn .destaque {
    border-radius: 8px 20px 20px 20px;
    background: var(--degrade-azul-xp);
    /* degradê novo */
    color: white;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    border: none;
}

/* ANCHOR câmera */
.camera-frame {
    /* outline: 1px solid red; */
    position: absolute;
    width: 180px;
    height: 100px;
    bottom: 20px;
    left: 100px;
    rotate: 2deg;
    z-index: 4;

    filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.3));

    transform: scale(2);
    transform-origin: center;

    transition: transform 0.3s ease;


}

.camera-frame .img-depois {
    opacity: 0;
    transition: ease-in 100ms;
}

.camera-frame:hover {
    transform: rotate(-5deg) scale(2.6);
}

.camera-frame:hover .img-depois,
.laptop-xuxa {
    opacity: 1;
}



.camera-frame::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url(img/camera.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    z-index: 2;
    pointer-events: none;
}

.camera-frame img {
    display: block;
    position: absolute;

    /* ajuste da foto */
    width: 110px;
    height: 80px;
    top: 10px;
    left: 30px;
    border-radius: 10px;

    object-fit: cover;
    z-index: 1;

}


/* ANCHOR conteúdo 2 - fim da página */


/* TODO contato */

.peixe {
    background-image: url(img/water_57.png);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contato-base {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgb(250, 250, 250);
    width: 130vh;
    height: 60vh;
    /* From https://css.glass */
    background: linear-gradient(160deg, rgba(255, 255, 255, 0.441), rgba(255, 255, 255, 0.132));
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    border-radius: 10px 100px;
}

.contato-base h1 {
    font-family: WinXP;
    font-size: 40px;
    color: hsla(216, 40%, 30%, 0.589);
    margin: 0 0 40px 0;
    text-align: center; 
    width: 100%;
}

/* ANCHOR balão */

.contato-base .balao {
    transform: scale(1.5);
    position: absolute;
    top: 60px;
    left: 80px;
    /* outline: 1px solid red; */

}

.contato-base .balao:hover {
    transform: scale(1.6);
}

.contatos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contatos a{
    text-decoration: none;
}




.github svg{
    width: 100px;
    height: auto;
    
    filter: invert(1); 
    
    cursor: pointer;
    transition: transform 0.3s ease;
}

.github svg:hover {
    transform: scale(1.1);
}






/* TODO projeto */

.flor {
    background-image: url(img/windows_xp_35.jpg);
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu.projeto a {
    background: var(--bolha-cor-amarelo);
    box-shadow: var(--bolha-sombra-amarelo);
}

.menu.projeto {
    background: var(--degrade-amarelo-xp);
}

.apresentacao-projetos p, h1 {
    font-family: 'Lucida Console', monospace;
}

.apresentacao-projetos {
    position: absolute;
    width: 45%;
    min-height: 250px;
    
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.grid-projetos {
    position: relative;
    width: 90%;
    max-width: 1000px;
    height: 600px; 
    margin: 40px auto;
}


#projeto-1 { top: 0; left: 0; }
#projeto-2 { top: 0; right: 0; }
#projeto-video { top: 0; right: 0; }
/* 
#projeto-3 { bottom: 0; left: 0; }
#projeto-4 { bottom: 0; right: 0; } */

.apresentacao-projetos .title-bar {
    cursor: grab;
}
.apresentacao-projetos .title-bar:active {
    cursor: grabbing;
}
.apresentacao-projetos .window-body {
    padding: 15px;
    background-color: var(--branco-absoluto);
    flex-grow: 1;
}

/* ANCHOR projeto 1 - arduino */

.projeto-arduino h1 {
    font-size: 20px;
}

.projeto-arduino .projeto-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
}

.projeto-arduino .projeto-textos {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.projeto-arduino video {
    width: 250px;       
    height: 300px;      
    object-fit: cover;  
    
    
    float: left;       
    
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 15px; 
    
    border-radius: 8px; 
}


.github-link svg{
    
    width: 60px;
    height: auto;
    
    cursor: pointer;
    transition: transform 0.3s ease;

}

.github-link svg:hover{
    transform: scale(1.1);
}


